body {
    background: lightblue;
}


/* Table section start */
table {
    border-collapse: collapse;
    max-width: 950px;
    margin: 10px;
}

table, th, td {
    border: 0px;
    text-align: center;
}

tr:nth-child(odd) {background: #CCCCff}
tr:nth-child(even) {background: #eeeeff}
/*table section end*/

.update {
    font-size: 80%;
}